<footer class='footer'>
  <div class='container has-text-centered'>
    <div class='columns'>
      <div id='about' class='column'>
        <p>
        Obiou is made with ♥ by Nicolas Dewaele. It's free under the <a href='https://www.gnu.org/licenses/gpl-3.0.en.html'>GPLv3 license</a>.
        </p>
        <p>
        Technologies used are :
        <ul>
          <li>The awesome <a href='https://rubyonrails.org/' target='_blank'>Ruby on Rails</a> framework</li>
          <li>The featherweight <a href='https://bulma.io/' target='_blank'>Bulma</a> for frontend</li>
          <li>Quasi no JS in this Website because <a href='http://youmightnotneedjs.com/' target='_blank'>we might not need JS</a></li>
        </ul>
        </p>
      </div>
      <div class='column'>
        <a href='#'><i class='fa fa-facebook'></i></a>
        <a href='#'><i class='fa fa-twitter'></i></a>
        <a href='#'><i class='fa fa-linkedin'></i></a>
        <a href='#'><i class='fa fa-github'></i></a>
      </div>
      <div class='column'>
        Contact
      </div>
    </div>
  </div>
</footer>
