<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class='container'>

    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="/images/logo.webp">
      </a>

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="nase">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="nase" class="navbar-menu">

      <div class="navbar-start">
        <a href='/' class='navbar-item is-hoverable'>Home</a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href='https://grepon.adminrezo.fr/tools'>Tools</a></a>
          <div class="navbar-dropdown">
            <a class='navbar-item' href='https://grepon.adminrezo.fr'>Grepon <i class="fa fa-lock" aria-hidden="true"></i></a>
            <a class='navbar-item' href='https://grepon.adminrezo.fr/tools/password'>Password generator <i class="fa fa-lock" aria-hidden="true"></i></a>
            <a class='navbar-item' href='https://grepon.adminrezo.fr/tools/csr'>CSR decoder <i class="fa fa-certificate" aria-hidden="true"></i></a>
            <a class='navbar-item' href='https://grepon.adminrezo.fr/tools/dig'>Dig <i class="fa fa-sitemap" aria-hidden="true"></i></a>
            <a class='navbar-item' href='https://grepon.adminrezo.fr/tools/dnspropagation'>DNS Propagation <i class="fa fa-sitemap" aria-hidden="true"></i></a>
            <a class='navbar-item' href='https://grepon.adminrezo.fr/tools/base64'>Base64 encoder/decoder <i class="fa fa-file-text-o" aria-hidden="true"></i></a>
            <hr class="navbar-divider">
            <a class='navbar-item' target='_blank' href='https://www.ssllabs.com/ssltest/'>Qualys SSL Labs <i class="fa fa-external-link" aria-hidden="true"></i></a>
            <a class='navbar-item' target='_blank' href='https://cryptcheck.fr/'>Cryptcheck <i class="fa fa-external-link" aria-hidden="true"></i></a>
          </div>
        </div>
        <a href='#about' class='navbar-item'>About</i></a>
      </div>

    </div>

  </div>
</nav>
