<div class="start">
  <%= form_with(model: @domain) do |form| %>
    

    <div id='welcomebox'>
      <%= form.text_field :url, autofocus: true, placeholder: "https://your.url.com/", class: 'input is-info is-large has-text-centered' %>
      <%= form.submit 'Check', :class => 'button is-info is-large is-rounded' %>
    </div>
  <% end %>
</div>
