<h1 class='title'>Domains</h1>

<div class="table-container">
  <table class='table is-striped is-hoverable is-fullwidth'>
    <thead>
      <tr>
        <th>Domain name</th>
      </tr>
    </thead>

    <tbody>
      <% @domains.each do |domain| %>
        <tr>
          <td>
            <%= domain.url %>
            <%= link_to ('<i class="fa fa-eye" aria-hidden="true"></i>').html_safe, domain %>
            <%= link_to ('<i class="fa fa-refresh" aria-hidden="true"></i>').html_safe, "/domains/update/#{domain.id}" %>
            <%= link_to ('<i class="fa fa-trash"></i>').html_safe, domain, method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to 'New Domain', '/' %>
