<p>
  <%= link_to 'Back', '/domains' %>
</p>

<p class='title'><%= @domain.url %></p>
<p>
  <%= link_to ('<i class="fa fa-refresh" aria-hidden="true"></i>').html_safe, "/domains/update/#{@domain.id}" %> (takes few minutes)
</p>

<div class="desc">
  <%= @domain.description&.html_safe %>
</div>
<div class="table-container">
  <table class='table is-striped is-hoverable is-fullwidth'>
    <tbody>
      <tr>
        <td>General</td>
        <td>
        </td>
      </tr>
      <tr>
        <td>Headers</td>
        <td>
        </td>
      </tr>
      <tr>
        <td>Certificate</td>
        <td>
        </td>
      </tr>
      <tr>
        <td>Whois</td>
        <td>
        </td>
      </tr>
      <tr>
        <td>DNS records</td>
        <td>
        </td>
      </tr>
      <tr>
        <td>Subdomain enumeration</td>
        <td>
        </td>
      </tr>
      <tr>
        <td>UDP traceroute</td>
        <td>
        </td>
      </tr>
      <tr>
        <td>Port scan</td>
        <td>
        </td>
      </tr>
      <tr>
        <td>Crawler</td>
        <td>
        </td>
      </tr>
      <tr>
        <td>Directory search</td>
        <td>
        </td>
      </tr>
      <tr>
        <td>Wayback machine</td>
        <td>
        </td>
      </tr>
    </tbody>
  </table>
</div>
