.footer { margin-top: 100px; }
.master { background-color: white; }
.obiou { 
  background: url('/images/obiou.webp') no-repeat fixed top;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px;
}

.splashscreen {
  background: url('/images/obiou.webp') no-repeat fixed left top;
  background-size: cover;
  height: 500px;
}
.start { margin-top: 100px; }
.thetitle { font-size: 40px; }
.thesubtitle { font-size: 28px; }
pre { background-color: lightgrey !important; }

.dv { overflow: hidden !important; }
